{
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "svelteSortOrder": "options-styles-scripts-markup",
  "svelteStrictMode": true,
  "svelteAllowShorthand": false,
  "plugins": ["prettier-plugin-svelte"]
}
